.row
  .small-12.columns
    = render 'profile_navbar'

#profile
  = simple_form_for(current_user, url: user_path(current_user.id), method: :put, remote: true, html: { class: 'ng-pristine ng-valid' }) do |f|
    .row
      .small-12.medium-7.columns
        %h4.manage-header Profile
        = f.input :first_name, required: true
        = f.input :last_name, required: true
        = f.input :biography, as: :text, input_html: { rows: 10, type: 'text', placeholder: 'From 50 to 500 characters that describes yourself the best' }
        %label.label--with-hint{for: 'user_video_presentation'}
          Upload Video Presentation
        %a.label-hint.js--video-hint{href: '#'}
          Need suggestions?
          %i.fa.fa-info-circle
          %span.hidden (Close)
        #cover-upload-video-container.upload-container.preview
          %ul.preview-items-cover
          %div
            %span.icon.fa.fa-video-camera
            %p Click to upload.
            #temporary-video-presentation.text_center{style: 'word-wrap: break-word;'}= current_user.video_presentation.try(:url)
          %div.hidden.video-hint-block
            %h5 Suggestions for Personal Video Profile
            %p Intro/Name
            %p Where you are from?
            %p Where you live now and long you have lived there
            %p Your occupation and what you like to do for fun
            %p Why you joined TourMega
        = f.input :video_presentation, as: :file, input_html: { accept: "video/mp4, video/quicktime, video/x-m4v, video/ogg, video/avi, video/*", class: 'hidden' }, label: false
        .text-right
          = link_to 'View Your Profile', public_profile_user_path(current_user), target: '_blank', class: 'button btn btn-default'
          = f.button :submit, 'Update Profile', 'data-disable-with' => 'Updating', class: 'button'
      .small-12.medium-5.columns
        %h4.manage-header Profile Picture
        .row
          .small-12.medium-6.columns.user-info.text-center
            .vertical-align
              = f.input :avatar, as: :file, input_html: { accept: "image/png,image/gif,image/jpeg", class: 'hidden'}, label: 'Change Picture'
          .small-12.medium-6.columns.user-info.text-center
            .vertical-align
              = image_tag f.object.avatar_url, alt: f.object.name, class: 'avatar large'
          .small-12.text-center
            %a.js--profile-requirements{href: "#"} Personal Profile Requirements
          .small-12.columns.text-center.hidden
            %img{:src => "", id: 'temporary-avatar', width: '300px', height:'300px', style: 'margin-bottom: 20px;' }
            .form-group
              %label.string{style: 'padding-left: 60px;'} Click on the update button below to update your picture

:javascript
  $(function(){
    $('.vertical-align:has(img)').on('click', function(){
      $('#user_avatar').click();
    });

    $('#user_video_presentation').on('change', function(){
      readVideoURL(this, $('#temporary-video-presentation'));
    });

    $('#cover-upload-video-container').on('click', function(){
      $('#user_video_presentation').click();
    });

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#temporary-avatar').attr('src', e.target.result).attr('alt', 'Temporary Avatar').removeClass('hidden');
          $('#temporary-avatar').parent().removeClass('hidden');
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $('#user_avatar').on('change', function(){
      readURL(this);
    });
    $('.content-column').removeClass('free-meals');
    $('li.profile>a').addClass('current');

    $(document).on('click', '.js--profile-requirements', function(){
      text = "<div class='modal-requirements'><p>Full Name of Company Account Manager must be included as part of your personal information (no company names)</p><p>Clear Profile Picture of Guide, no company logos</p><p>Minimum of 2 verifications but we recommend more</p><p>Indicate which methods you can be reached by travelers (e.g. WhatsApp, Skype, etc.)</p></div>"

      swal({   title: "Personal Profile Requirements",   text: text,   html: true });
    });

    $(document).on('click', '.js--video-hint', function(e){
      e.preventDefault();
      $('.js--video-hint span').toggleClass('hidden');
      $('.video-hint-block').toggleClass('hidden');
    });
  });
