= javascript_include_tag 'history_state', media: 'all'

%section.main-section.white-bg.no-margin-top
  .row.wide
    .small-12.medium-4.xlarge-3.columns.sidebar-column.light-grey-bg{:style => "height: 600px;"}
      #manage_sidebar
        .row
          .small-12.large-3.columns.text-center.user-info.flush-left
            .vertical-align
              %img.avatar.current-user-avatar.large{:alt => "#{current_user.name}", :src => "#{current_user.avatar_url}"}
          .small-12.large-9.columns.user-info
            .vertical-align
              %h4.border-bottom= current_user.name
              %span.small= current_user.email
        = render "manage_sidebar"
    #profile_content.columns.content-column.medium-8.small-12.xlarge-9
      = render "content_#{@column}"

:javascript
  $(function(){
    $('body').removeClass().addClass('manage').attr('style','');
    $('#header').addClass('solid');
  });
