.small-9.columns.locations-container.center.text-center
  = simple_form_for(location, url: search_index_path, method: :get) do |f|
    .search-form-content
      .search-form-location
        = f.input :address, as: :fake, input_html: { placeholder: "#{t('input.placeholder.where_are_you_going')}", type: 'text', autocomplete: 'off', 'fill-to-input' => 'full_address', class: 'autocomplete-location', autofocus: autofocus }, wrapper: false, label: false
        = f.input :location, as: :fake, input_html: { name: 'location[full_address]', id: 'full_address', class: 'hidden' }, label: false, wrapper: false, required: true
      .search-form-date
        .date-start
          %input.checkin.datepicker{ type: 'text', placeholder: 'Start date', name: 'location[start_date]' }
    .search-form-action
      = f.button :submit, 'Search', class: 'button', style: 'margin: 0px 0px 5px 0px; height:42px; width: 100%;'

:javascript
  $(function(){
    $('.datepicker').datepicker({
      format: 'mm/dd/yyyy',
      todayHighlight: true,
      leftArrow: '&laquo;',
      rightArrow: '&raquo;',
      autoclose: true,
      orientation: "bottom"
    });
  });
