.item
  .panel-image.listing-img
    .media-photo
      .flexslider
        %ul.slides
          - tour.images.each do |image|
            %li
              %a{:href => "#{tour_path(tour)}"}
                %img{:src => "#{image.url}"}/
    %a.panel-overlay-bottom-left.panel-overlay-listing-price{:href => "#"}
      .price-container
        %sup $
        %span.price-amount= tour.price.round
      %span.icon-instant-book.glyphicon.glyphicon-flash
  .panel-body.panel-card-section
    .info
      %a.profile-picture{:href => "#{public_profile_user_path(tour.creator)}"}
        %img{:alt => "name", :src => "#{tour.creator_avatar_url}"}/
      %h3.listing-name{:title => "#{tour.name}"}
        %a{:href => "#{tour_path(tour)}"}= tour.name.try(:strip)
      .listing-location
        = render 'shared/tour_rating', tour: tour
