= hidden_field_tag :country_id,'', { 'data-location-type' => 'country_id'}
= hidden_field_tag :country_name,'', { 'data-location-type' => 'country_name'}
= hidden_field_tag :country_code,'', { 'data-location-type' => 'country_code'}
= hidden_field_tag :location_type,'', { 'data-location-type' => 'location_type'}
= hidden_field_tag :lat,'', { 'data-location-type' => 'lat'}
= hidden_field_tag :lng,'', { 'data-location-type' => 'lng'}
= hidden_field_tag :google_place_id,'', { 'data-location-type' => 'google_place_id'}
