- content_for(:title, "Become our guide on TourMega")

%section.main-section
  #host-page
    #hero{ style: "background-image: url(#{t('become_guide.background_image')}); background-size: cover; background-position: 50% 25%; background-repeat: no-repeat;" }
      .message
        .row
          .small-12.small-centered.medium-10.large-8.columns.text-center
            %h1.larger= t('become_guide.header')
    #what-they-are.light-grey-bg
      .row.wide
        .small-12.large-8.large-centered.columns.content.text-center
          %h4= t('become_guide.introduction')
    #what-they-do.white-bg
      .row.wide{"data-equalizer" => ""}
        .small-12.medium-7.large-6.columns.content.shorter.large-stacked{"data-equalizer-watch" => "", :style => "height: 698px;"}
          .row
            .small-12.columns.space-top
              %h3.header= t('become_guide.application.header')
              %ul
                - t('become_guide.application.steps').each do |index, step|
                  %li
                    .step-circle.tiny= index + 1
                    = step
              %a.button.wide.space-top{:href => "#{host_users_path}"} Register a tour in 10 minutes
        .small-12.medium-5.large-6.columns.picture{ style: "height: 698px; background-image: url(#{t('become_guide.application.picture')}); background-size: cover; background-position: 50% 80%; background-repeat: no-repeat;" }
    #safety-feedback.light-grey-bg
      .row
        .small-12.small-centered.large-9.columns.content.text-center
          %h3.header
            Trust &amp; safety
          %p= t('become_guide.trust_and_safety')
    #host-faqs.photo-bg{ style: "background-image: url(#{t('become_guide.guide_photo_bg')}); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;" }
      .row
        .small-12.columns.content.text-center
          %h3{style: 'font-weight: 700;'} Your experience and creativity are the only limits