%section.main-section
  #destinations.white-bg
    #hero.photo-bg{"background-image" => "#{t('home.contact_us_bg')}", "background-position" => "50% 30%"}
      .message
        .row
          .small-12.small-centered.medium-10.large-9.columns.text-center
            %h1.larger= t('home.contact_us')

    .white-bg
      .row
        .small-12.small-centered.medium-8.columns.text-center.guide.space-top
          %h3 Contact us
      .row
        .small-6.small-centered.columns
          = simple_form_for(@contact, url: home_send_contact_path, method: :post) do |f|
            .small-12.columns
              = f.input :name, input_html: { placeholder: 'Name' }, label: false, require: true
              = f.input :email, input_html: { autofocus: true, placeholder: 'Email' }, label: false, required: true
              = f.input :subject, as: :select, collection: Contact::SUBJECT, :input_html => { :class => "chosen-input with-bootstrap", multiple: false, 'data-placeholder' => "Select a topic:" }, label: false
              = f.input :content, as: :fake, as: :text, input_html: { style: 'height: 185px;', placeholder: 'Please fill in your message' }, label: false
              .medium-4.medium-push-8.text-right
                = f.button :submit, 'Send', class: 'button'

:javascript
  $(function(){
    $('.chosen-input').chosen({allow_single_deselect: true, search_contains: true});
  });