- content_for(:title, "Build an itinerary of tour on TourMega")

.row
  .small-12.columns
    .headline.text-center
      %h1.h3 Let's create an awesome tour together!
      %h5 Next, please give us your tour's itinerary. Don't forget to include images to make it vivid.
    .step-panel.padding-top
      = simple_form_for(tour, url: update_tour_itinerary_tour_path, method: :put, html: { class: 'edit_tour' }) do |f|
        .panel-container
          .field
            %label
              Overview of the tour
            %p Minimum of 150 characters.
            .input-box
              = f.input :overview, as: :text, label: false, input_html: { class: 'redactor' }
          .field
            %label Itinerary of the tour
            %p
              Tell your travelers about the most amazing experiences they will get on your tour.
              Minimum of 150 characters.
            .input-box
              = f.input :description, as: :text, label: false, input_html: { class: 'redactor' }

          .field.row.display-table
            .medium-7.columns.table-cell
              %label{for: 'tour_images'} Upload photos
              #cover-upload-images-container.upload-container.preview
                %ul.preview-items-cover
                %div
                  %span.icon.fa.fa-photo
                  %p Click to upload.
              = f.input :images, as: :file, input_html: { accept: "image/png,image/gif,image/jpeg", multiple: true, class: 'hidden'}, label: false
            .medium-5.columns.field-guide.table-cell.space-3
              %p
                Choose the  photos within your tour that travelers will experience
          .field.row.display-table
            .medium-7.columns.table-cell
              .text-center#temporary-images
                - tour.images.each do |image|
                  %img{:src => image.url}/
            .medium-5.columns.field-guide.table-cell.space-3
              %p.hidden
                Choose the highlight photos within your tour that travelers will experience

          .field.row.display-table
            .medium-7.columns.table-cell
              %label{for: 'tour_thumbnail_image'} Upload cover photo
              #cover-upload-thumbnail-container.upload-container.preview
                %ul.preview-items-cover
                %div
                  %span.icon.fa.fa-photo
                  %p Click to upload.
              = f.input :thumbnail_image, as: :file, input_html: { accept: "image/png,image/gif,image/jpeg", class: 'hidden'}, label: false
            .medium-5.columns.field-guide.table-cell.space-3
              %p
                A picture is worth a thousand words. A high quality cover photo can greatly improve your booking rate.
                Choose your best one to catch your potential travelers' attention.
          .field.row.display-table
            .medium-7.columns.table-cell
              .text-center{class: ('hidden' unless tour.thumbnail_image)}
                %img{:src => tour.thumbnail_image_url.presence, id: 'temporary-thumbnail-image'}/
            .medium-5.columns.field-guide.table-cell.space-3
              %p.hidden
                A picture is worth a thousand words. A high quality cover photo can greatly improve your booking rate.
                Choose your best one to catch your potential travelers' attention.


          //VIDEO
          -# = f.input :video_presentation, as: :file, input_html: { accept: "video/mp4, video/ogg, video/avi" }, label: false
          .field.row.display-table
            .medium-7.columns.table-cell
              %label{for: 'tour_video_presentation'} Upload Video Presentation
              #cover-upload-video-container.upload-container.preview
                %ul.preview-items-cover
                %div
                  %span.icon.fa.fa-video-camera
                  %p Click to upload.
              = f.input :video_presentation, as: :file, input_html: { accept: "video/mp4, video/ogg, video/avi, video/x-m4v, video/quicktime, video/*", class: 'hidden' }, label: false
            .medium-5.columns.field-guide.table-cell.space-3
              %h6 Suggestion for Video Presentation
              %div Clips of what the traveler may do and see
              %div Add text to highlight key points
              %div 1 or 2 minutes max length
          .field.row.display-table
            .medium-7.columns.table-cell
              .text-center#temporary-video-presentation= tour.video_presentation.try(:url)
            .medium-5.columns.field-guide.table-cell.space-3
              %p.hidden
                Choose the Video Presentation
        .row
          .small-12.medium-4.medium-push-8.columns.text-right
            = f.button :submit, 'Save and Preview', class: 'button ladda-button', 'data-style' => 'expand-right', 'data-color' => 'mint'

:javascript
  $(function(){
    $('form').on('submit', function(e){
      var overview_length = $('#tour_overview').prev().text().length;
      var description_length = $('#tour_description').prev().text().length;
      var thumbnail_image = $('#temporary-thumbnail-image').attr('src') != undefined
      var images_length = $('#temporary-images').children().length

      if (overview_length < 150 || description_length < 150 || thumbnail_image == false || images_length == 0) {
        e.preventDefault();
        Ladda.stopAll();
        if (overview_length == 0)
          sweetAlert('Overview of the tour cannot be empty');
        else if (overview_length < 150)
          sweetAlert('Overview of the tour must be minimum at 150 characters');
        else if (description_length == 0)
          sweetAlert('Itinerary of the tour cannot be empty');
        else if (description_length < 150)
          sweetAlert('Itinerary of the tour must be minimum at 150 characters');
        else if (thumbnail_image == false)
          sweetAlert('The cover photo of the tour must be chosen');
        else if (images_length == 0)
          sweetAlert('The highlight photos of the tour must be chosen');
      }
    });

    $('#tour_thumbnail_image').on('change', function(){
      readURL(this, $('#temporary-thumbnail-image'));
    });

    $('#tour_video_presentation').on('change', function(){
      readVideoURL(this, $('#temporary-video-presentation'));
    });

    $('#tour_images').on('change', function(){
      readMultipleURL(this, $('#temporary-images'));
    });

    $('#cover-upload-video-container').on('click', function(){
      $('#tour_video_presentation').click();
    });

    $('#cover-upload-images-container').on('click', function(){
      $('#tour_images').click();
    });

    $('#cover-upload-thumbnail-container').on('click', function(){
      $('#tour_thumbnail_image').click();
    });
  });

  function strip(html)
  {
     var tmp = document.implementation.createHTMLDocument("New").body;
     tmp.innerHTML = html;
     return tmp.textContent || tmp.innerText || "";
  }
