- content_for(:title, "Countries on TourMega")

%section.main-section
  #destinations.white-bg
    #hero.photo-bg{"background-image" => "#{t('countries.photo_bg')}", "background-position" => "50% 10%"}
      .message
        .row
          .small-12.small-centered.medium-10.large-9.columns.text-center
            %h1.larger= t('countries.introduction')

    .white-bg
      .row.wide
        .small-12.small-centered.medium-8.columns.text-center.guide.content.short
          %h3= t('home.intro_locations')

    .row.wide
      .row.destinations{ data: { equalizer: '' } }
        - @countries.each do |country|
          %a.small-12.medium-6.large-3.columns.destination{href: "#{country_path(country)}"}
            .image.countries.lazy{style: "background-image: url(#{country.default_scene_image_url});"}
            .content
              %span= country.name
              %p
